<!-- 定义日志输出格式和存储路径 -->
<configuration>
    <!--
        %date 表示日期
        %thread 表示线程名
        %- 5level 表示级别从左显示5个字符宽度
        %logger{36} 表示 logger 名字最长36个字符
        %msg 表示日志消息
        %n 是换行符。
    -->
    <property name="LOG_PATTERN"
              value="%magenta(%date{yyyy-MM-dd HH:mm:ss}) 🚧 %highlight(%-5level)📦 %yellow([%t]) %green(%logger:%line) 🎯 %white(%msg) 📍%cyan([%L]%n)"/>
    <property name="LOG_HOME" value="logs"/>
    <property name="FILE_PATH"
              value="${LOG_HOME}/%d{yyyy-MM-dd}.%i.log"/>

    <!-- 定义控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 按照上面配置的LOG_PATTERN来打印日志 -->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 定义日志文件的相关参数 -->
    <!--
        定义一个名为 “FILE” 的文件配置，
        主要是配置日志文件保存的时间、
        单个日志文件存储的大小、
        以及文件保存的路径和日志的输出格式。
    -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> <!-- 按照上面配置的FILE_PATH路径来保存日志 -->
            <fileNamePattern>${FILE_PATH}</fileNamePattern>
            <!-- 日志保存15天 -->
            <maxHistory>15</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 单个日志文件的最大，超过则新建日志文件存储 -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <!-- 按照上面配置的LOG_PATTERN来打印日志 -->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 定义日志输出级别 -->
    <!-- 定义一下项目中默认的日志输出级别，这里定义级别为 INFO -->
    <logger name="com.example.springboothelloworld" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
