<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjcpc.zzx.mapper.TblUserMapper">

    <resultMap id="BaseResultMap" type="com.fjcpc.zzx.pojo.TblUser">
        <id property="uid" column="uid" jdbcType="OTHER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="truename" column="trueName" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
        <result property="birth" column="birth" jdbcType="VARCHAR"/>
        <result property="balance" column="balance" jdbcType="DOUBLE"/>
        <result property="regtime" column="regtime" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid
        ,username,password,
        trueName,sex,telephone,
        birth,balance,regtime,
        role
    </sql>

    <select id="login" resultType="com.fjcpc.zzx.pojo.TblUser">
        select *
        from tbl_user
        where username = #{username}
          and password = #{password}
    </select>

    <select id="register" resultType="com.fjcpc.zzx.pojo.TblUser">
        INSERT INTO tbl_user (`username`, `password`, `trueName`, `sex`, `telephone`, `birth`, `balance`,
                              `regtime`, `role`)
        VALUES (#{username}, #{password}, #{truename}, #{sex}, #{telephone}, #{birth}, #{balance}, #{regtime}, #{role})
    </select>

    <select id="getInfoByUsername" resultType="com.fjcpc.zzx.pojo.TblUser">
        select *
        from tbl_user
        where username = #{username}
    </select>

    <select id="getInfoByUid" resultType="com.fjcpc.zzx.pojo.TblUser">
        select *
        from tbl_user
        where uid = #{uid}
    </select>

    <select id="getAllUser" resultType="com.fjcpc.zzx.pojo.TblUser">
        select *
        from `zzx-data`.`tbl_user`
    </select>

    <delete id="delUserByUid">
        DELETE
        FROM tbl_user
        WHERE uid = #{uid}
    </delete>

    <update id="updateInfo">
        UPDATE `zzx-data`.`tbl_user`
        <if test="uid != null">
            SET `uid` = #{uid},
        </if>
        <if test="truename != null">
            `trueName` = #{truename},
        </if>
        <if test="sex != null">
            `sex` = #{sex},
        </if>
        <if test="telephone != null">
            `telephone` = #{telephone},
        </if>
        <if test="birth != null">
            `birth` = #{birth},
        </if>
        <if test="balance != null">
            `balance` = #{balance},
        </if>
        <if test="regtime != null">
            `regtime` = #{regtime},
        </if>
        <if test="role != null">
            `role` = #{role}
        </if>
        WHERE `uid` = #{uid}
    </update>
    <update id="resetPwd">
        UPDATE `zzx-data`.`tbl_user`
        <if test="newPassword != null">
            SET `password` = #{newPassword}
        </if>
        WHERE `uid` = #{uid}
    </update>
</mapper>
